
.smain{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    height: fit-content;
    width: 100%;
    padding-top: 5%;
}

.service{
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    border: 2px solid #00ff1e;
    border-radius: 10px;
    width: fit-content;
    
}