.tmain{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 20px;

}
.par{
    background-color: rgba(0, 255, 26, 0.2);
    border: none;
    border-radius: 20px;
    width: 60%;
    height: fit-content;
    padding: 20px 40px;
    align-self: center;
}

@media (max-width: 900px) {
  .tmain {
    padding-top: 15vw;
    gap: 8vw;
  }
  .par {
    width: 90%;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 15px;
  }
}

@media (max-width: 500px) {
  .tmain {
    padding-top: 20vw;
    gap: 5vw;
    padding-bottom: 10px;
  }
  .par {
    width: 90%;
    padding: 10px 5px;
    font-size: 0.5rem;
    border-radius: 10px;
  }
}